html,
body,
.wrapper {
  height: 100%;
  margin: 0;
}

.wrapper {
  background: #45454d;

  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.container {
  height: 200px;
  width: 200px;
  background: #ffd5d5;
}

.sliders {
  display: grid;
  grid-template-columns: 40% 40%;
  grid-template-rows: 20% 20% 20%;
  column-gap: 50px;
  row-gap: 50px;
  margin: auto auto 0;
  flex-grow: 1;
  width: 100%;

  justify-content: center;
  align-content: center;
}

.slider-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

.slider-name {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
